venv
.idea
.coverage
htmlcov/
*.pyc
*.nl
*.lp
*.ipynb_checkpoints
dist/
build/
*.DS_Store
.vscode/
.venv/
*.prof
*.out
wandb
__pycache__/
.ruff_cache/
.pytest_cache/
.mypy_cache/
site/

# Hydra outputs
outputs/
multirun/

# Project specific
data/

# Sphinx documentation build
docs/_build/
